<h1>Your team name: {{team}}</h1>
<h2>Total players: {{playerNumber}}</h2>
<form name="playerForm">
    <input type="text" name="playerName" ng-model="newTeamPlayer" required/>
    <div ng-show="showFormError && playerForm.playerName.$error.required">Required</div>
</form>
<button ng-click="addNewPlayer()">Add Player</button>
<button ng-click="makeMatch()">Make match</button>
<reset-data></reset-data>
<div ng-show="showMatchError">{{playerCountError}}</div>

<ul ng-repeat="player in players track by $index">
    <li>{{player}}</li>
</ul>